.create {
  background-color: blue;
}

form label {
  color: rgb(106, 148, 38);
  font-size: 17px;
}

form input[type="text"],
form textarea.myTextarea {
  color: rgb(58, 141, 137);
  font-size: 16px;
}
