@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css");
.description {
  font-size: 14px;
  color: rgb(97, 161, 32);
}
.foodInfo {
  background-color: rgba(0, 0, 0, 0.2);
}
